# Environment Variables & Secrets
.env
.env.local

# Virtual Environment
.venv/
env/
venv/

# Python Cache & Bytecode
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Test Outputs & Coverage
.coverage
htmlcov/

# OS Specific
.DS_Store
Thumbs.db

# node modules
ui/node_modules
